html {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: inline;
}

/*style the side navigation */
.sidenav {
  padding: 10px;
  width: 250px;
  height: 100%;
  background-color: #607D8B;
  overflow: hidden;
  border-radius: 5px;
  top: 0;
  left: 0;
  position: fixed;
}

.sidenav h1 {
  display: inline;
  padding: 20px 0 0 10px;
}

.room-list li {
  list-style-type: none;
//text-transform: capitalize;
  text-align: left;
  color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  padding: 5px 5px 5px 20px;
  position: relative;
  margin: 5px 10px 5px -30px;
}

.room-list li:hover {
  background: #90a4ae;
  color: #263238;
  cursor: pointer;
}

#create-room {
  bottom: 0;
  margin: 0;
  left: 0;
  padding: 10px;
  position: absolute;
  width: auto;
  height: 100px;

}

#create-room input[type="submit"] {
  background: transparent;
  border: 2px solid #455a64;
  height: 25px;
  width: 50px;
  font-size: 14px;
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#create-room input[type="submit"]:hover {
  background: #90a4ae;
  color: #FFFFFF;
  cursor: pointer;
}
