body {
  margin: 0;
}


.App {
  text-align: center;
  background-color: #cfd8dc;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  color: #37474f;
  text-align: center;
  text-shadow: 3px 2px #7986cb;
  font-size: 50px;
  display: inline;
}
